@font-face {
  font-family: "Source Sans Pro";
  src: url("SourceSansPro-Regular.otf");
}

@font-face {
  font-family: "Source Sans Pro";
  src: url("SourceSansPro-Bold.otf");
  font-weight: bold;
}

html, body { margin: 0; padding: 0; }

body {
    font-family: "Source Sans Pro";
    color: #343434;
}

body > header {    
    padding: 10px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
  background-image: url("../img/logo_nova.png");
  background-repeat: no-repeat;
  display: block;
  width: 260px;
  height: 60px;
  text-indent: -9999px;
  margin: 0;
  margin-right: 50px;
  margin-top: 5px;
  margin-bottom: 3px;
}

nav {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

nav > ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 16px;
}

nav > ul > li {
    margin: 0 10px;
}

nav > ul > li > a {
    text-decoration: none;
    font-weight: bold;
    color: #343434;
    height: 15px;
}

nav > ul > li > a:hover {
    transition-duration: 0.33s;
    color: #3399ff;
}

nav > ul > li > a.active {
    color: #3399ff;
}

body > main {
}

main > section {
    margin: 0 100px;
}

main > header {
    background: #3399ff;
    padding: 24px 20px;
    text-align: center;
    color: white;
    font-weight: bolder;
    font-size: 26px;
    margin-bottom: 40px;
}

.tabela > .linha {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-flow: column;
    text-align: center;
    padding: 5px 0;
    border-left: 2px solid #3399ff;
    border-right: 2px solid #3399ff;
}

.tabela > .linha:last-child {
    border-bottom: 2px solid #3399ff;
}

.tabela > .linha a {
    color: #3399ff;
}

.tabela > div {
    border-top: px solid #3399ff;
}

.tabela > .linha:nth-child(odd) {
    background: #d6eaff;
    color: #3399ff;
}

.tabela > header.linha {
    font-weight: bold;
    border: 2px solid #3399ff;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    color: white !important;
    background: #3399ff !important;
}

select {
    background: transparent;
    color: #8d8d8d;
    width: 210px;
}

h1.logotipo { margin: 0; }

h1.logotipo span {
  color: #3399ff;
}

.admin, .authenticated {
    display: none;
}