@font-face {
  font-family: "Source Sans Pro";
  src: url("fonts/SourceSansPro-Regular.otf");
}

@font-face {
  font-family: "Source Sans Pro";
  src: url("fonts/SourceSansPro-Bold.otf");
  font-weight: bold;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  font-family: "Source Sans Pro";
}

.cabecalho {
  background: white;
  padding: 6px;
  position: absolute;
  width: 100%;
}

@media (min-width: 768px) {
  .cabecalho {
    min-width: 100px;
  }
  .cabecalho .logo {
    float: left;
    margin-top: 2px;
  }
  .cabecalho .menu-principal {
    float: right;
    margin-top: 11px;
  }
  .cabecalho .menu-principal__lista {
    margin-bottom: 0;
  }
}

.container {
  margin: 0 auto;
  padding: 0 15px;
}

@media (min-width: 576px) {
  .container {
    width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    width: 770px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1140px;
  }
}

@media (max-width: 768px) {
  .menu-principal--fechar {
    -webkit-transition: all 1s;
    transition: all 1s;
  }
  .menu-principal--fechar .menu-principal__btn {
    background-position: 5px 5px;
  }
  .menu-principal--fechar .menu-principal__lista {
    margin: 0;
  }
  .menu-principal--fechar .menu-principal__item {
    -webkit-transition: all 200ms ease-out;
    transition: all 200ms ease-out;
    margin: 0;
    height: 0;
    overflow: hidden;
  }
}

.filter-options{
  margin:20px;
  color:#8d8d8d;
  height: 30px; 
}

.filter-text{
  padding-top: 4px;
}

.filter-categoria{
  margin-left: 10px;
  margin-right: 10px;
}

.categorias{
  border:1px solid black;
  width: 300px;
  margin-left: 10px;
}

.categoria-titulo{
  height: 30px;
  border-bottom: 1px solid black;
}

.categoria-item{
  height: 40px;
  list-style: none;
}

select{
  background: transparent;
  color:#8d8d8d;
}

.products-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.produto{
  margin: 30px;
  height: 380px;
  border-radius: 8px

}

.produto:hover {
  margin: 27px;
}

.imagem-produto{
  height: 220px;

}

.imagem-produto{
  height: 220px;

}
.produto{
  text-align: center;
  color:#8d8d8d;
}


.produto > .nome{
  font-size: 20px;
  color:blue;
}

.produto .preco-atual{
  font-size: 18px;
  color:   #07113e  ;

}

.produto .preco-antigo{
  font-size: 14px;
  text-decoration: line-through;
}

.produto > .desconto{
  position: absolute;
  margin-left: 220px;
  padding-top: 15px;
  width: 40px;
  height: 50px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  color: white;
  background-color:#f14747;
  font-size: 16px;
}

.escolha{
  background-color: #3399ff;
  height: 30px;
  color: white;
  padding-top: 5px;
  border-radius: 8px;
}

#not-found-message{
  text-align:center;
}

.desaparecer {
  display: none;
}

main > section {
  margin: 0;
}


.indisponivel{
  background-color: grey;
  height: 30px;
  color: white;
  padding-top: 5px;
  border-radius: 8px;
}

.filter-options ul {
  list-style: none;
  display: flex;
  flex-direction: row;
}

.filter-options ul li {
  padding: 5px;
  background: #3399ff;
}

.filter-options ul li.active {
  transition-duration: 0.6s;
  background: #236bb2;
}

.filter-options ul li:hover {
  transform: scale(1.1, 1.1);
  background: #2d89e5;
  transition-duration: 0.25s;
}

.filter-options ul li a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}