.tabela > .linha {
    grid-template-columns: repeat(5, 1fr);
}

.button {
    border: 2px solid #3399ff;
    border-radius: 50px;
    background-color: white;
    padding: 10px 20px;
    font-weight: bold;
    color: #3399ff;
}

.button:hover {
    transition-duration: 0.33s;
    color: white;
    background-color: #3399ff;
}

a {
    text-decoration: none;
}

.text-center {
    text-align: center;
}

#carrinho {
  display: none;
  width: 100%;
  max-width: 400px;
  background-color: rgb(209, 239, 245); 
  border-radius: 10px;
}

#venda {
  display: none;
  width: 100%;
  max-width: 400px;
  background-color: rgb(209, 239, 245); 
  border-radius: 10px;
}

#itens {
  display: none;
  width: 100%;
  max-width: 300px;
  background-color: rgb(209, 239, 245); 
  border-radius: 10px;
}

.modal > div {
  max-height: calc(100vh - 100px);
  overflow: auto;
}

.modal h3 {
    text-align: center;
    font-weight: bold;
    margin-left: 35px;
    margin-bottom: 38px;
}

.modal a {
    margin-right: -38px;
}

.formulario {
    display: block;
    margin-left: -45px;
    text-decoration: none;
}

.formulario label {
  display: inline-block;
  width: 100px;
  text-align: right;
  color: #303030;
}

.input, select {
  border-radius: 5px;
  margin: 4px 7px;
  border: 1px solid #c4c4c4;
  border-radius: 5px;
  padding: 5px;
}

.formulario select {
    width: 210px;
}

.formulario .button {
    display: inline-block;
    margin-top: 15px;
}

.botoes {
    margin-top: 10px;
}


.numero-itens {
    border-radius: 5px;
    margin: 4px 7px;
    border: 1px solid #c4c4c4;
    border-radius: 5px;
    padding: 5px;
    width: 50px;
}

.lista-itens > h3 {
    margin-left: 0px;
}

.lista-itens > ul {
    padding: 0;
}


.fas {
    color: black;
}

.escondido{
    display: none;
}

.erro{
    color:red;
}


.grid-produtos{
    display:grid;
    border: 1px solid #3399ff;
    border-radius: 10px;
    padding-bottom: 10px;
    margin-left: 40px;
    grid-template-columns: 1fr 1fr;
}

.cabecalho{
    font-size: 20px;
    margin: 10px;
}

.alert{
    height: 50px;
    margin-left: 20px;
}

.btn-cart{
    font-size: 12px;
    border: 2px solid   #3399ff  ;
    border-radius: 50px;
    background-color: white;
    padding: 5px 10px;
    margin: 15px 32px;

    font-weight: bold;
    color:  #3399ff ;
}

.btn-cart:hover{
    background-color: #3399ff;
    color:white;
}

#details-order {
    display: none;
    width: 450px;
    background-color: rgb(209, 239, 245); 
    border-radius: 10px;
}

#details-order div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
}

.header-line{
    font-size: 18px;
    font-weight: bold;
    margin: 10px;
}

.line{
    margin: 10px;
    padding: 5px;

}

.header{
    cursor: pointer;
}

.fa-sort{
    margin-left: 5px;
}